<h1> New Event</h1>


<%=form_tag "/events", :class =>" form horizontal", method: :post do %>


<div calss = "">
	
	 <%= text_field_tag :venue, nil, placeholder: "Venue" %>


</div>


<div>
	
	 <%= text_field_tag :date, nil, placeholder: "Date" %>

</div>

<div>
	
	 <%= text_field_tag :time, nil, placeholder: "Time line" %>

</div>

<%= submit_tag "Add Events" %>

<%end%>